<h3>Stylists:</h3>
<div class="list">
<% if @stylists.any?() %>
  <% @stylists.each() do |stylist| %>
  <ul>
    <li><a href="/stylists/<%= stylist.id() %>"><%= stylist.name() %></a></li>

  </ul>
  <% end %>

  <% else %>
  <p>Salon owner please add stylists to the list!</p>

<% end %>
</div>


<form action="/stylists" method="post" class="form-group">
  <label for="name">Add new stylist:</label>
  <input id="name" name="name" type="text" autofocus>

  <button type="submit" class="btn">Add Stylist</button>

</form>
