<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <title>Hair Salon</title>
  </head>
  <body>
    <h1>Hair Salon</h1>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
