<h1>Update information for </h1>

<form action="/stylists/<%= @stylist.id() %>" method="post">
  <input name="_method" type="hidden" value="patch">

  <label for="name">Edit stylist's name:</label>
  <input id="name" name="name" type="text">

  <button type="submit">Update</button>
</form>

<form action="/stylists/<%= @stylist.id() %>" method="post">
  <input name="_method" type="hidden" value="delete">

  <button type="submit">Delete this stylist</button>
</form>
